
.idea/

articles/__pycache__/
articles/migrations/

user/__pycache__/

lifehacks/__pycache__/

favourite/__pycache__/
favourite/migrations/

accesschecker/__pycache__/

parsechecker/__pycache__/
utils/__pycache__/
documents/
venv/
*.pyc
